<footer class="site-footer">

  <div class="wrapper text-center">

    <h2 class="footer-heading">{{ site.title }}</h2>
    <p>
      {{ site.street_address_1 }}<br/>
      {{ site.street_address_2 }}
    </p>
    <p>©<script>document.write(new Date().getFullYear())</script> · <a href="mailto:{{ site.email }}">Contact Us</a> · <a href="{{ site.facebook_url }}"><i class="fa fa-facebook-official"></i></a></p>
    <p class="small margintop">Design: <a href="http://www.bigriverwebdesign.com">Nathanael Bonnell</a></p>

  </div>

</footer>
