/**
 * Site header
 */
.site-header {
    /*border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;*/
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    p, h4 {
        margin: 0;
    }
    .header-right, .header-left {
        display: inline-block;
    }
    .header-right { 
        text-align: center;
        float: right;
    }
    .wrapper {
        box-shadow: 0 1px 2px 4px rgba(0,0,0,0.2) inset;
        margin-top: -5px;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    clear: both;
    padding: 10px 30px;
    display: block;
    background-color: $brand-color;
    background-image: url('/images/WoodBG.jpg');
    border-left:  1px solid rgba(0,0,0,0.4);
    border-right: 1px solid rgba(0,0,0,0.4);
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $header-font-family;


    .menu-icon {
        display: none;
    }

    .page-link {
        /*color: $inverse-text-color;*/
        line-height: $base-line-height;
        text-shadow: 1px 1px #F3C589, -1px -1px #F3C589;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.showcase {
    display: block;
    margin: -30px -30px 15px -30px;
    position: relative;
    background: -moz-linear-gradient(left, rgba(175,149,33,0) 0%, rgba(175,149,33,1) 50%, rgba(175,149,33,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(175,149,33,0) 0%,rgba(175,149,33,1) 50%,rgba(175,149,33,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(175,149,33,0) 0%,rgba(175,149,33,1) 50%,rgba(175,149,33,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    color: $inverse-text-color;
    font: bold 36px/36px $header-font-family;
    text-shadow: 0 0 3px rgba(0,0,0,0.6);
}
.showcase-top, .showcase-bottom {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.showcase-top {
    top: 10px;
}
.showcase-bottom {
    bottom: 10px;
}


#windoors {
    background-image: url('/images/windoors.jpg');
}
#kitchens {
    background-image: url('/images/kitchens.jpg');
}
#bathrooms {
    background-image: url('/images/bathrooms.jpg');
}
#basements {
    background-image: url('/images/basements.jpg');
}
#general {
    background-image: url('/images/general.jpg');
}
.boxlink {
    display: inline-block;
    position: relative;
    margin: 0 2% 2% 2%;
    width: 250px;
    max-width: 48%;
    height: 150px;
    background-size: cover;
    > span {
        display: inline-block;
        height: 100%;
        width: 100%;
        > span {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 8px 8px 0;
            width: 65%;
            text-align: right;
            color: $inverse-text-color;
            font: bold 20px/20px $header-font-family;
            text-decoration: none;
            text-shadow: 0 0 3px rgba(0,0,0,0.6);
        }
    }
    &:hover, &:active {
        > span {
        background-color: rgba(0,0,0,0.2);
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border: 1px solid rgba(0,0,0,0.4);
    border-top: none;
    background-image: url('/images/WoodBG.jpg');
    padding: $spacing-unit 0;
    font-family: $header-font-family;
    color: $brand-color-dark;
    a {
        color: $brand-color;
    }
}

.footer-heading {
    font-size: 18px;
    /*margin-bottom: $spacing-unit / 2;*/
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.2) inset;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
